.candainer{
    width: 100%;
    height: 700px;
    border: 1px solid black;
    background-color: rgb(178, 183, 168);
   
}
.header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
   background-color: rgb(29, 55, 39);
}
#logo{
    color: aliceblue; 
    font-size: 40px;
    padding: 10px;
}
.github{
   color: aliceblue;
   padding-left: 600px;
   font-size: 25px;
}
.bigbox{
    width: 23%;
    height: 500px;
    border-radius: 20px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: rgb(38, 40, 32);
}
.search{
   width: 50%;
   height: 50px;
   border-radius: 10px;
   position: relative;
   top: -180px;
   left: 200px;
   background-color: rgb(38, 40, 32);
}
.box1{
   
    width: 250px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(38, 40, 32);
    position:absolute;
    top: 205px;
    left: 470px;
}
.box2{
    width: 250px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(38, 40, 32);
    position:absolute;
    top: 205px;
    left: 800px;
   
}
.box3{
    width: 250px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(38, 40, 32);
    position: absolute;
    top: 205px;
    left: 1130px;
    
}
.box4{
    width: 925px;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(38, 40, 32);
    position: absolute;
    top: 400px;
    left: 460px;
    
}